
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Montserrat", sans-serif;  
    box-sizing: border-box;
}

        body {
            background-color: #fff;
            background-image: url("../images/BG.webp");
        }
    .container {
        background-color: white;
    }
     /****** Layout ******/
        .container {
            display: grid;
            column-gap: 1.5em;
            grid-template-columns: repeat (12, 1fr);
            width: min(95%, 75em);
            margin: 0 auto;
        }

        .container > * {
            grid-column: span 12;
            padding-inline: 20px; 
        }
        
         /*destop layout*/

        @media (min-width: 40em) {
            .col-span-8 {
                grid-column: span 8;
            }
            .col-span-4 {
                grid-column: span 4;
            }
            #nav-menu ul {
                display: flex;
            }
            
        }
        header {
            text-align: left;
            background-color: dodgerblue;
            color: #fff;
            padding: 30px 40px; 
        }
    
        h1 {
            text-transform: uppercase;
            font-size: clamp(32px, 4vw, 48px);

        }
    
        h2 {
            font-size: 36px;
            
        }
    
        h3 {
            font-size: 24px;
            
        }

        aside {
            padding: 12px;
        }
        img {
            width: 100%;
        }
         img.circle {
            width: 100%; 
            aspect-ratio: 1/1;
            object-fit: cover;
            border-radius: 999px;
            border: 6px solid dodgerblue 

        }
        /****** Navagation ******/
        #nav-menu {
            background-color: #444;
            padding: 12px  0 1rem;
            display: flex;
            justify-content: center;
            position: sticky;
            top: 0;
            
        }
        #nav-menu ul li {
            margin: 0;
            padding: 0;

        }
        #nav-menu ul {
            justify-content: center;
            gap: 20px;
            flex-flow: row wrap;
            list-style: none; 
            margin: 0;
            padding: 0;
        }
        #nav-menu li a {
            display: inline-block;
            color: #fff;
            padding: 12px 20px;
            font-weight: bold;
            text-decoration: none; 
            border-radius: 99px;
            transition: all 0.2s ease;
            min-width: 150px;
            text-align: center;
    
        }
        #nav-menu li.active a,
        #nav-menu li a:hover {
        background-color: #555
        }
        
        